[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
neovim = "*"

[packages]
Flask = "*"
flask-restful = "*"
alembic = "*"
typing = "*"
pymysql = "*"
flask-sqlalchemy = "*"
werkzeug = "*"
gunicorn = "*"

[requires]
python_version = "3.7"
